body {
  margin: 0;
  min-height: 100vh;

  background-image: url("/PROJECT/travelRecommendation/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
  color: rgb(53, 53, 53);
  font-size: 64px;
  font-weight: 600;
}

p {
  font-size: 18px;
  font-weight: 500;
}

/* Utils */
.u-NoList {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* End Utils */

.Navigation {
  display: flex;
  align-items: center;
  gap: 64px;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  padding: 8px 16px;
}

.Navigation__Logo {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  color: rgb(236, 253, 220);
}

.Navigation__List {
  display: flex;
  gap: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.Navigation__Item a {
  color: rgb(0, 63, 117);
  text-decoration: none;
  padding: 4px 4px;
}

.Navigation__Item a:hover {
  color: rgb(186, 223, 255);
}

.Navigation__InputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.Navigation__SearchInput {
  width: 340px;
  height: 32px;
  font-size: 12px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
  background-color: #fff;
  outline: none;
  padding: 0 16px;
}

.Navigation__SearchInputIcon {
  position: absolute;
  left: 200px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.Navigation__SearchInputButtons {
  position: absolute;
  left: 240px;
  top: 50%;
  transform: translateY(-50%);
}

.Navigation__SearchInputButton {
  cursor: pointer;
  background-color: rgba(0, 39, 110, 0.411);
}

.Navigation__SearchInputButton:hover {
  color: aliceblue;
  background-color: rgb(0, 29, 54);
}

.PageContent {
  width: 200px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(0, 0, 0);
  margin-left: 24px;
}

.SocialMedia {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  left: 24px;
  bottom: 24px;
}

.Employees {
  display: flex;
  align-items: center;
  gap: 36px;
  pointer-events: none;
}

.Employees__Item {
  width: 160px;
  height: 100px;
  border-radius: 12px;
  padding: 12px 12px;
  background-color: rgb(201, 201, 201, 0.5);
}

.Employees__Item img {
  width: 24px;
  height: 24px;
}

.Employees__Role {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 24px;
  background-color: rgb(82, 82, 82);
  color: white;
}

.Section {
  padding: 24px 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.Section--Vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
