/* Utils */
.u-NoList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  padding: 16px 16px;
}

.Navigation__Logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(195, 255, 138);
}

.Navigation__List {
  display: flex;
  gap: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.Navigation__Item a {
  color: rgb(0, 63, 117);
  text-decoration: none;
  padding: 4px 4px;
}

.Navigation__Item a:hover {
  color: rgb(186, 223, 255);
}

.Navigation__InputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.Navigation__SearchInput {
  width: 340px;
  height: 32px;
  font-size: 12px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
  background-color: #fff;
  outline: none;
  padding: 0 16px;
}

.Navigation__SearchInputIcon {
  position: absolute;
  left: 200px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.Navigation__SearchInputButtons {
  position: absolute;
  left: 240px;
  top: 50%;
  transform: translateY(-50%);
}

.Navigation__SearchInputButton {
  border-radius: 12px;
  cursor: pointer;
  background-color: rgba(0, 39, 110, 0.411);
}

.Navigation__SearchInputButton:hover {
  color: aliceblue;
  background-color: rgb(0, 29, 54);
}
