body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  color: rgb(53, 53, 53);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: url("./images/background.jpg") center / cover no-repeat;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(219, 238, 255, 0.2);
  z-index: -1;
}

hr {
  width: 100%;
  height: 1px;
  background-color: rgb(53, 53, 53);
  border: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 64px;
  font-weight: 600;
}

p {
  font-size: 16px;
  margin: 0;
}

/* Utils */
.u-NoList {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* End Utils */

.Button {
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  color: rgb(53, 53, 53);
  border: 1px solid rgb(53, 53, 53);
  padding: 8px 16px;
}

.Button--Small {
  padding: 4px 8px;
}

.Button:hover {
  background-color: rgb(53, 53, 53);
  color: white;
  border-color: white;
}

.Navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
  padding: 16px 24px;
}

.Navigation__Logo {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  color: rgb(236, 253, 220);
}

.Navigation__List {
  display: flex;
  gap: 12px;
  color: rgb(0, 63, 117);
  margin-right: auto;
  font-weight: bold;
}

.Navigation__Item a {
  text-decoration: none;
  padding: 4px 4px;
  color: inherit;
}

.Navigation__Item--Active {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

.Navigation__Item a:hover {
  color: rgb(186, 223, 255);
}

.Navigation__InputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.Navigation__SearchInput {
  width: 340px;
  height: 32px;
  font-size: 12px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
  background-color: #fff;
  outline: none;
  padding: 0 16px;
}

.Navigation__SearchInputIcon {
  position: absolute;
  left: 200px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.Navigation__SearchInputButtons {
  position: absolute;
  left: 240px;
  top: 50%;
  transform: translateY(-50%);
}

.Navigation__SearchInputButton {
  cursor: pointer;
  background-color: rgba(0, 39, 110, 0.411);
}

.Navigation__SearchInputButton:hover {
  color: aliceblue;
  background-color: rgb(0, 29, 54);
}

.Main {
  flex-grow: 1;
}

.PageContent {
  width: 100%;
  color: rgb(0, 0, 0);
}

.SocialMedia {
  display: flex;
  align-items: center;
  gap: 8px;
  left: 24px;
  bottom: 24px;
}

.Employees {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 36px;
  pointer-events: none;
}

.EmployeeCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 200px;
  border-radius: 8px;
  padding: 16px 16px;
  background-color: rgb(201, 201, 201, 0.5);
}

.EmployeeCard__Details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.EmployeeCard img {
  width: 24px;
  height: 24px;
}

.EmployeeCard__Role {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 24px;
  background-color: rgb(82, 82, 82);
  color: white;
}

.Form {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 24px;
}

.FormField {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Footer {
  padding: 16px 24px;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

.Section {
  padding: 24px 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.Section--Vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
